body {
    text-align: center;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f7fa;
    color: #333;
    margin-bottom: 15px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 15px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 12px;
    color: #2c3e50;
}

p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
}

.lesson_container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 15px;
    row-gap: 20px;
    justify-content: center;
}

.lesson_container input {
    height: 30px;
    width: 30px;
    background-color: #eee;
}

.lesson-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 67.5px;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #333;
}

.allbutton {
    background-color: #ffffff;
    color: rgb(53, 53, 53);
    border: none;
    padding: 12px 24px;
    margin-top: 15px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.lesson-button-wrapper.lightblue {
    background-color: #ddf1ff;
    border: 2px solid #4586ff;
}

.lesson-button-wrapper.blue {
    background-color: #9cd6ff;
    border: 2px solid #0059ff
}

.lesson-button-wrapper.blue:hover {
    background-color: #cfcfcf;
    border: 2px solid #606060;
    transform: translateY(-2px);
}

.lesson-button-wrapper.lightblue:hover {
    background-color: #cfcfcf;
    border: 2px solid #606060;
    transform: translateY(-2px);
}