* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

h1#title {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #151515;
}

#question {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #333;
    font-weight: bold;
}

#anwsers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #3f3f3f;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

button:focus {
    outline: none;
}

#score {
    font-size: 1.2em;
    color: #4caf50;
    margin-bottom: 20px;
}

#done {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#done p {
    font-size: 1.5em;
    color: #4caf50;
    margin-bottom: 20px;
}

#done button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#done button:hover {
    background-color: #e64a19;
}
